html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #010101;
}
#panorama-controls {
	position: fixed;
	top: 8px;
	left: 8px;
	z-index: 100;
	color: white;
}
.panolens-container {
	position: absolute;
	top: 0;
	left: 0;
}
